// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2025 Thundercomm, Inc. All rights reserved.
 */
 /dts-v1/;
 /plugin/;
 
 &soc {
    geniqup@9c0000 {
        i2c@984000 {
       status = "okay";
   };//i2c1
        i2c@98c000 {
       status = "disable";
   };//i2c3
        i2c@988000 {
       status = "disable";
   };//i2c2
        spi@988000 {
       status = "disable";
       spidev@0 {
	       compatible = "qcom,spidev";
	       spi-max-frequency = <50000000>;
	       reg = <0>;
       };
   };//spi2
        serial@988000 {
       status = "okay";
   };//uart2
        
        i2c@998000 {
       status = "disable";
   };//i2c6
        spi@998000 {
       status = "disable";
       spidev@0 {
	       compatible = "qcom,spidev";
	       spi-max-frequency = <50000000>;
	       reg = <0>;
       };
   };//spi6
        serial@998000 {
       status = "okay";
   };//uart6
    };
    geniqup@ac0000 {
        i2c@a84000 {
            lt,lt9611@39 {
                config-mode = "edidAdaptiveResolution";
            };
        };//i2c8
        i2c@a80000 {
            status = "disable";
        };//i2c8
        spi@a80000 {
            status = "disable";
	    spidev@0 {
		    compatible = "qcom,spidev";
		    spi-max-frequency = <50000000>;
		    reg = <0>;
	    };
        };//spi8
        serial@a80000 {
            status = "okay";
        };//uart8
        
        i2c@a90000 {
            status = "disable";
        };//i2c12
        spi@a90000 {
            status = "disable";
	    spidev@0 {
		    compatible = "qcom,spidev";
		    spi-max-frequency = <50000000>;
		    reg = <0>;
	    };
        };//spi12
        serial@a90000 {
            status = "okay";
        };//uart12
    };
};
&sound {
pinctrl-0 = <&mi2s0_data0_sleep>, <&mi2s0_data1_sleep>, <&mi2s0_mclk>, <&mi2s0_sclk_sleep>, <&mi2s0_ws_sleep>, <&lpass_ext_mas_clk1_a_sleep>, <&lpass_qua_mi2s_sclk_sleep>, <&lpass_qua_mi2s_ws_sleep>, <&lpass_qua_mi2s_data0_sleep>, <&lpass_qua_mi2s_data1_sleep>, <&lpass_qua_mi2s_data2_sleep>, <&lpass_qua_mi2s_data3_sleep>, <&lpass_lpi_i2s1_clk_sleep>, <&lpass_lpi_i2s1_ws_sleep>, <&lpass_lpi_i2s1_data0_sleep>, <&lpass_lpi_i2s1_data1_sleep>, <&mi2s2_sclk_sleep>, <&mi2s2_ws_sleep>, <&mi2s2_data0_sleep>, <&mi2s2_data1_sleep>;
pinctrl-1 = <&mi2s0_data0>, <&mi2s0_data1>, <&mi2s0_mclk>, <&mi2s0_sclk>, <&mi2s0_ws>, <&lpass_ext_mas_clk1_a>, <&lpass_qua_mi2s_sclk>, <&lpass_qua_mi2s_ws>, <&lpass_qua_mi2s_data0>, <&lpass_qua_mi2s_data1>, <&lpass_qua_mi2s_data2>, <&lpass_qua_mi2s_data3>, <&lpass_lpi_i2s1_clk>, <&lpass_lpi_i2s1_ws>, <&lpass_lpi_i2s1_data0>, <&lpass_lpi_i2s1_data1>, <&mi2s2_sclk>, <&mi2s2_ws>, <&mi2s2_data0>, <&mi2s2_data1>;
pinctrl-2 = <&mi2s0_data0_sleep>, <&mi2s0_data1_sleep>, <&mi2s0_mclk>, <&mi2s0_sclk_sleep>, <&mi2s0_ws_sleep>, <&lpass_ext_mas_clk1_a_sleep>, <&lpass_qua_mi2s_sclk_sleep>, <&lpass_qua_mi2s_ws_sleep>, <&lpass_qua_mi2s_data0_sleep>, <&lpass_qua_mi2s_data1_sleep>, <&lpass_qua_mi2s_data2_sleep>, <&lpass_qua_mi2s_data3_sleep>, <&lpass_lpi_i2s1_clk_sleep>, <&lpass_lpi_i2s1_ws_sleep>, <&lpass_lpi_i2s1_data0_sleep>, <&lpass_lpi_i2s1_data1_sleep>, <&mi2s2_sclk_sleep>, <&mi2s2_ws_sleep>, <&mi2s2_data0_sleep>, <&mi2s2_data1_sleep>;
};
/ {
    fragment@0 {
        target-path = "/";
        __overlay__ {
            chosen { 
			stdout-path = "serial0:115200n8"; 
			bootargs = "root=/dev/disk/by-partlabel/system rw rootwait console=ttyMSM0,115200n8 earlycon pcie_pme=nomsi kernel.sched_pelt_multiplier=4 rcupdate.rcu_expedited=1 rcu_nocbs=0-7 kpti=off kasan=off kasan.stacktrace=off no-steal-acc  swiotlb=128 mitigations=auto net.ifnames=0";
		};
        };
    };
};
